################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/ProjectManager/.vs
/server/ProjectManager/packages
/server/ProjectManager/PerformanceTests/bin/Debug
/server/ProjectManager/PerformanceTests/obj
/server/ProjectManager/ProjectManager/bin
/server/ProjectManager/ProjectManager/obj
/server/ProjectManager/ProjectManager.Tests/bin/Debug
/server/ProjectManager/ProjectManager.Tests/obj
/server/.vs
/server/packages
/server/PerformanceTests/bin/Debug
/server/PerformanceTests/obj
/server/ProjectManager/bin
/server/ProjectManager/obj
/server/ProjectManager.Tests/bin/Debug
/server/ProjectManager.Tests/obj
